@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family:'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
     max-width: 100vw;/*viewport width gives you a clearer understanding when shrinking or making a webpage bigger or smaller */
}

nav{
    height:80px;/*moves "library logo" down a bit*/
    display:flex;
}
p{/*Paragraphs in general will have this setting*/
    line-height: 1.5em;
}

img{
    width:100%;
    height:100%;
    max-height:50vh;/*makes the image a lot smaller you want the "vh" at least half of your height */
}
.nav__container{    /*Since it is a class use "." instead of #*/
    width:100%;
    max-width:1200px;
    padding:0 24px;/*Moves logo and links from closer to eachother*/
    display:flex;
    justify-content: space-between;
    margin:0 auto;
}

.purple{
    color:#7342d6;
}

.logo{
    width:160px;/*Size of "library" logo*/
}
ul{
    display:flex;/*Brings the nav links vertically(They were on top of each other before (horizontally)*/
    padding:24px;/*Moves the nav links down a bit (vertically) */
}

li{
list-style-type: none;/*removes bullet points that are default to the unordered list*/
}

.nav__link{
    text-decoration:none;/*Removes underline*/
    margin-left:16px;/*Spreads the nav links out in between more*/
    font-size:20px;
    color:#7342d6;
    font-weight:bold;
    padding:8px;/*Puts Padding inside the border on the "Books" */
}

.nav__link--primary{
    border:2px solid;/*purple square with the word books inside it */
    color:#7342d6;
    border-radius:4px;/*Adds curved edges to the nav link square */
}

.nav__link:hover{
    text-decoration: underline;/*This targets the hover underlines on "Home" and "Contact" */
}

.nav__link--primary:hover{
    text-decoration:none;/*The reason this works is becuase it comes after the primary class without the hover if i put the hover class beofre the non-hover the the hover would not work */
}

#landing__page{
    background-color:rgba(115,66,215,0.1)/*changes the background-color*/
    /*Since it's an id use "#" instead of "."*/
}

header{
   height:calc(150vh - 80px) /*change the vertical height minus the 80px from the nav "library" logo*/
}

.header__container{
    width:100%;/*check inspect element make sure the width is expanding the entire page that is what a container is for*/
    max-width:720px;/*Contains the Header "America's Most Awarded online library platform"*/
    /*look at inspect element for a better explanation*/
    margin:0 auto;/*centers the text in the container */
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
}
.header__description{/*Helps move button to center using flexbox*/    
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;/*centers the button*/
}

h1{
    font-size:56px;
    color:#7342d6;
    margin-bottom:24px;
    text-align:center;
    margin-top:90px
}

h2{
    text-align: center;
    font-size: 32px;
    margin-bottom: 24px;
}

button{
    cursor:pointer;
}

button:active{
    transform: translateY(1px);/*Moves up and down on the Y axis(vertical)*/
}

.btn{
    background-color:#7342d6;
    color:white;
    padding:12px 24px;
    border-radius: 4px;
    border: none;
    font-size:20px;
}

.header__img--wrapper{
    padding:20px;
    z-index: 2;
}

.container{
    padding:56px 0;/*Moves "Why choose library" down a bit*/
}

.row{/*The whole point of having a div row is for a max-width for big screens*/
width:100%;
max-width:1200px;/*this is so it doesnt stretch all the way to the sides and look ugly*/
margin:0 auto;
}

/*

HIGHLIGHTS

*/

#highlights{/*The reason the wave is at the top is because it needs to be relative to the parent element*/
    position: relative;/* positioned according to the normal flow of the document, and then offset relative to itself based on the values of top, right, bottom, and left*/
}

/* #highlights:after,       The reason you pasted these is rules from #highlights:before and after is i am going to combine them for better structure */
#highlights:before{         
    content: "";
    /* background:url('./Assets/wave.svg'); */ /*Wave*/
    position: absolute;
    width:101vw;
    height:12vw;
    left:0;
    z-index:1;/*sets the z-order of a positioned element and its descendants or flex items. Overlapping elements with a larger z-index cover those with a smaller one.*/
    background-size: cover;/*The whole wave covers the background*/
    background-repeat: no-repeat;/*the background is a square like it was shown on w3 schools*/
}

#highlights:before{/*psuedo selector if i want to put something before Interval 33:20 e-commerce Website video*/ 
transform: translateY(-100%); rotate: (180deg);
top:1px;

}

#highlights:after{
    /* content:"";you need this empty content for the psuedo selectors  */
    /* background:url(''); */
    /* position:absolute;This sets how an element is positioned in a document */
    /* width:110vw; */
    /* height:12vw;The height gets bigger the wider the screen gets */
     /* top: 1px; specifying the vertical position of a positioned element. It has no effect on non-positioned elements. */
    /* left:0; */
    /* z-index:1; */
    /* background-size:cover; */
    /* background-repeat: no-repeat; */
    transform:translateY(200%) rotate(360deg) ;
}

.highlight__wrapper{
    display:flex;/*Gets the boxes side by side*/
}

.highlight{/*This is for the boxes under "why choose library"*/
    padding:0 24px;/*Padding top and bottom is 0 padding left and right is 24px*/
    width:calc(100% / 3);/*A 3rd of the width*/
    display:flex;
    flex-direction: column;
    align-items:center;
}

.highlight__para{
    text-align:center;
}

.highlight__img{/*thunderbolt image*/
    border:2px solid #7342d6;
    height:100px;
    width:100px;/*how wide you want the inside of the image to be*/
    display:flex;
    justify-content:center;/*centers it horizontally*/
    align-items: center;/*centers it vertically*/
    border-radius: 4px;/*curved edges*/
    font-size:32px;/* determines how big the thunderbolt is*/
    margin-bottom: 24px;/*header and paragraph under the image*/
    color:#7342d6;
}

.highlight__subtitle{/*paragraph under the image*/
    font-size:20px;
    margin-bottom:16px;
}


/*

FEATURED BOOKS

*/

#features{
    height:1000px;
    background-color: rgba(115, 66, 214, 0.1);
}

.books{/*General class of all the books listed in both the "features" and "Latest" sections*/
    display:flex; /*puts the books,pricings and stars in position to edit in css*/
    flex-wrap:wrap;/*Makes the books wrap on the line below*/
    justify-content: center;/*This centers the books to the middle of the"Featured Books"*/
}

.book{/*The "outside" area of what the books should look like*/
    width:25%;/*Makes the books responsive when someone is looking on smaller screens*/
    padding:24px;/*Spreads the books out to the sides a little bit*/
}

.book__img{
    max-height:280px;/*sets the max height of the books "images" if set the max-height below 200px the books are crunched horizontally*/
    transition:all 300ms ease;/*pops out "smoother" when "hovering over the books"*/
    cursor:not-allowed;/*cursor not "authorized on books"*/
}

.book__img--wrapper{/*Wraps the books on a new line so the books are not squished or cut off from the screen*/
    display:flex;
    margin-bottom:8px;
    border-radius:4px;
    overflow: hidden;/*The scroll bar is hidden*/
    display:flex;
}

.book:hover .book__img{
    transform: scale(1.03);/*Book images pop out when you "hover" over them*/
}

.book__title{
    font-size:22px;
    margin-bottom:8px;
    margin-top:10px;
}

.book__title:hover{
    text-decoration: underline;
    cursor: not-allowed;
}

.book__ratings{
    margin-bottom:8px;
    color:#fabf2a;
}

.book__price--normal{
    text-decoration: line-through;
    padding-right:6px;
    color:#bfbfbf;
}

button:active{
    transform:translateY(1px);
}

.btns {
    display: flex;
    background-color: #7342d6;
    color: white;
    padding: 12px 24px;
    font-size: 20px;
    border-radius: 4px;
    border: none;
    margin: 0 auto;
  }
  
  button {
    cursor: pointer;
  }
  
  #BrowseBooks {
    background-color: white;
  }
  
  /*
  
  FOOTER
  
  */
  
  footer {
    background-color: #242424;
  }
  
  .footer__logo {
    display: flex;
  }
  
  .footer__logo--img {
    width: 160px;
    filter: grayscale(1) invert(1);/**/
  }
  
  .footer__social--link,
  .footer__copyright {
    color: #fff;
  }
  
  .footer__list {
    margin: 20px 0 24px 0;
  }
  
  .footer__link {
    padding: 0 8px;
    color: #fff;
  }
  
  /* SMALL PHONES, TABLETS, LARGE SMARTPHONES */
  @media (max-width: 768px) {
    .header__description {
      padding: 0 24px;
    }
  
    h1 {
      font-size: 40px;
    }
  
    h2 {
      font-size: 26px;
    }
  
    button {
      font-size: 18px;
    }
  
    .book {
      width: 50%;
    }
  }
  
  /*SMALL PHONES*/
  @media (max-width: 550px) {
    .nav__links {
      display: none;
    }
    .btn__menu {
      display: block;
    }
    .highlight {
      width: 100%;
    }
  
    .highlight:not(:last-child) {
      margin-bottom: 24px;
    }
  }
  